.singlePostRoot {
	width: 100%;
	min-height: calc(100vh - 260px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	z-index: 8;
}
.singlePostBlock {
	width: 900px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	z-index: 8;
}

.singlePost {
	width: 100%;
	min-height: 292px;
	background: #ffffff;
	box-shadow: var(--shadow-default);
	border-radius: 6px;
	display: flex;
	flex-direction: row;
}
.singlePost > div:first-child {
	width: 64px;
	min-height: 100%;
	border-right: 1px solid #e2e2e2;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 14px 0;
}
.singlePost > div:first-child > div:first-child {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.singlePost > div:first-child > div:first-child > button {
	fill: rgba(165, 165, 165, 0.5);
	width: 20px;
}
.singlePost > div:first-child > div:first-child > span {
	font-size: 22px;
	line-height: 27px;
	text-align: center;
	color: #414141;
	margin: 6px 0;
}
.singlePost > div:first-child > div:first-child > button#dislike > svg {
	transform: matrix(1, 0, 0, -1, 0, 0);
}
.singlePost > div:first-child > div:last-child {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.singlePost > div:first-child > div:last-child > button {
	fill: rgba(165, 165, 165, 0.5);
	width: 20px;
	margin-top: 14px;
}
#delete,
#edit {
	margin-left: 6px;
	fill: rgba(165, 165, 165, 0.5);
}

.singlePost > div:last-child {
	width: calc(100% - 64px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}
.singlePost > div:last-child > div:first-child {
	width: 100%;
	height: calc(100% - 20px);
	padding: 16px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}
.singlePost > div:last-child > div:first-child > h1 {
	font-family: Roboto, Ubuntu, "Open Sans", "Helvetica Neue", sans-serif;
	font-weight: 600;
	font-size: 26px;
	line-height: 32px;
}
.singlePost > div:last-child > div:first-child > div.markdownText {
	font-family: Roboto, Ubuntu, "Open Sans", "Helvetica Neue", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
}

.singlePost > div:last-child > div:last-child {
	background: #f8f7ff;
	border-top: 1px solid #e1e4e8;
	height: 36px;
	width: 100%;
	border-bottom-right-radius: 6px;
	display: inline-flex;
	align-items: center;
	padding: 0 16px;
	justify-content: space-between;
}
.singlePost > div:last-child > div:first-child > * {
	margin: 6px 0;
}
.singlePost > div:last-child > div:last-child > div > span {
	font-family: Roboto, Ubuntu, "Open Sans", "Helvetica Neue", sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 22px;
	color: var(--black-07);
	text-decoration: none;
}
.singlePost > div:last-child > div:last-child > div > span > span#rating {
	font-family: Roboto, Ubuntu, "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 12px;
	color: var(--black-07);
	background-color: rgba(124, 106, 239, 0.3);
	border-radius: 4px;
	padding: 2px 3px;
}
.singlePost > div:last-child > div:last-child > span:last-child {
	font-weight: 300;
	font-size: 13px;
	color: var(--black-07);
}
