.headerRoot {
	width: 100%;
	height: 60px;
	background-color: white;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.header {
	width: 70%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.header > button {
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	color: black;
}
.logo {
	width: 134px;
	height: 40px;
	cursor: pointer;
}
.logo > img {
	width: 100%;
	height: 100%;
}
.searchBar {
	width: 40%;
	height: 40px;
	border-radius: 10px;
	background-color: #f2f0fe;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.searchBar > input {
	width: 90%;
	height: 100%;
	background-color: transparent;
	border: none;
	outline: none;
	color: rgba(0, 0, 0, 0.7);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 10px;
	font-size: 0.98rem;
}
.searchBar > input::placeholder {
	font-size: 0.9rem;
	opacity: 0.8;
}
.searchBar > button {
	width: 10%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.searchBar > button > svg {
	width: 100%;
	height: 50%;
}
.userBar {
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
}
.userBar > button {
	color: #7c6aef;
	font-size: 16px;
	line-height: 20px;
	margin-right: 12px;
}
.userBar > svg {
	width: 34px;
	height: 34px;
}
