.userStat {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: fit-content;
	margin: 6px 0;
}
.userStat > h3 {
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
}
.userStat > div {
	display: inline;
}
.userStat > div > svg {
	width: 12px;
	margin-right: 4px;
}
.userStat > div > span {
	font-size: 14px;
	line-height: 16px;
}
