.userRoot {
	width: 100%;
	min-height: calc(100vh - 160px);
	display: flex;
	flex-direction: row;
	justify-content: center;
	z-index: 8;
}
.user {
	width: 60%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 20px;
	z-index: 8;
}

.user > div:first-child {
	width: 70%;
}
.user > div:first-child > div.filteringBar > div.userPosts {
	align-items: center;
}
.user > div:first-child > div.filteringBar > div.userPosts > span {
	font-size: 18px;
	font-weight: 600;
	line-height: 22px;
	color: var(--black-07);
}
.user > div:first-child > div.postElement {
	width: 100%;
}

.user > div:last-child {
	width: 28%;
}
