.headerRoot {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	width: 100%;
	height: 60px;
	background-color: var(--white);
	display: flex;
	flex-direction: row;
	justify-content: center;
	box-shadow: var(--shadow-darken);
	z-index: 10;
}
.header {
	width: 70%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	z-index: 10;
}
.header > button {
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	color: black;
}
.logo {
	width: 134px;
	height: 40px;
	cursor: pointer;
}
.logo > img {
	width: 100%;
	height: 100%;
}
.searchBar {
	width: 40%;
	height: 40px;
	border-radius: 6px;
	background-color: #f2f0fe;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.searchBar > input {
	width: 90%;
	height: 100%;
	background-color: transparent;
	border: none;
	outline: none;
	color: var(--black-07);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 10px;
	font-size: 0.98rem;
}
.searchBar > input::placeholder {
	font-size: 0.9rem;
	opacity: 0.8;
}
.link {
	width: 10%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	cursor: pointer;
	color: black;
}
.searchBar > .link > svg {
	width: 100%;
	height: 50%;
}
.userBar {
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
	text-decoration: none;
}
.userBar > button {
	color: var(--theme-purple);
	font-size: 16px;
	line-height: 20px;
	margin-right: 12px;
}
.userBar > svg {
	width: 34px;
	height: 34px;
}
.userBar > img {
	width: 34px;
	height: 34px;
}
