.postsRoot {
	width: 100%;
	min-height: calc(100vh - 160px);
	background-color: #f5f9ff;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.posts {
	width: 70%;
	height: 100%;
	display: flex;
	flex-direction: row;
	margin-top: 20px;
}

.content {
	width: 78%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-right: 28px;
}

.filteringBar {
	width: 100%;
	height: 34px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.filteringBar > div:first-child {
	min-width: 220px;
	height: 100%;
	display: flex;
	flex-direction: row;
}
.filteringBar > div:first-child > span {
	font-size: 16px;
	line-height: 17px;
	color: black;
	height: 100%;
}
.filteringBar > div:first-child > button {
	height: 100%;
	font-size: 14px;
	line-height: 17px;
	background: #7c6aef;
	border-radius: 4px;
	margin-left: 10px;
	color: white;
	padding: 0 6px;
}

.filteringBar > div:last-child {
	min-width: fit-content;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.filteringBar > div:last-child > select {
	background: #e5e3f3;
	border: 1px solid rgba(116, 116, 116, 0.5);
	border-radius: 10px;
	height: 100%;
}
.filteringBar > div:last-child > span {
	margin-left: 20px;
}
.filteringBar > div:last-child > button {
	background: #e5e3f3;
	border: 1px solid #747474;
	border-radius: 10px;
	margin-left: 20px;
	padding: 0 10px;
	height: 100%;
	font-size: 14px;
	line-height: 17px;
}

.postsList {
	width: 100%;
	min-height: fit-content;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}
.postElement {
	width: 500px;
	height: 150px;
	background: #ffffff;
	box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	margin-top: 20px;
	display: flex;
	flex-direction: row;
}
.postElement > div:first-child {
	width: 35px;
	height: 100%;
	border-right: 1px solid rgba(226, 226, 226, 0.5);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.postElement > div:first-child > button {
	fill: rgba(165, 165, 165, 0.5);
	width: 20px;
}
.postElement > div:first-child > button#dislike > svg {
	transform: matrix(1, 0, 0, -1, 0, 0);
}
.postElement > div:last-child {
	width: calc(100% - 35px);
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	padding: 8px;
}
.postElement > div:last-child > h1#postTitle {
	font-family: Roboto;
	font-weight: 500;
	font-size: 16px;
	line-height: 16px;
	color: #000000;
}
.postElement > div:last-child > span#postContent {
	font-family: Roboto;
	font-size: 13px;
	line-height: 13px;
	color: rgba(0, 0, 0, 0.5);
}
.postElement > div:last-child > div#postTags {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.postElement > div:last-child > div > button {
	width: fit-content;
	height: 24px;
	background-color: rgba(124, 106, 239, 0.3);
	border-radius: 4px;
	padding: 0 8px;
	margin-right: 6px;
}

.tags {
	width: 22%;
	min-height: fit-content;
	display: flex;
	flex-direction: column;
}
.tags > h1 {
	font-size: 26px;
	line-height: 30px;
	color: #000000;
	margin-bottom: 20px;
}
.tags > button {
	width: fit-content;
	height: 24px;
	margin: 0 0 16px 0;
	background-color: rgba(124, 106, 239, 0.5);
	border-radius: 4px;
	padding: 0 8px;
}
