@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap");

* {
	font-family: "Signika", -apple-system, BlinkMacSystemFont, "Segoe UI",
		"Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

button {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	background-color: transparent;
	cursor: pointer;
}
